networks:
  default:
    name: strichka

services:
  api:
    build: ./core
    container_name: core-api
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 8010:8080
    env_file: ./core/.env
  db:
    image: postgres:14-alpine
    container_name: core-db
    restart: always
    user: postgres
    ports:
      - 8020:5432
    volumes:
      - ./db/data:/var/lib/postgresql/data
    command: ["postgres", "-c", "log_statement=all", "-c", "log_destination=stderr"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 1s
      retries: 5
    env_file: ./db/.env